<p>
	<strong> Name: </strong>
	<%= @gender.name %>
</p>
<p>
	<strong> Place: </strong>
	<%= @gender.place %>
</p>
<p>
	<strong> Gender: </strong>
	<%= @gender.gender %>
</p>

<p>
	<%= link_to 'Another Request', new_gender_path() %>
</p>
